<!-- <a href="home">Home</a>
<a href="book">Book Appointment</a>
<a href="view">View Component</a>
<a href="query">Contact Us</a> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../assets/BTa86xpT8.jpg" style="height:40px" >
    <a class="navbar-brand" href="home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="book">Book Appointment</a>
        </li>
        <li class="nav-item dropdown">
         
        </li>
        <li class="nav-item">
          <a class="nav-link" href="view">View Appointment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="query">Contact Us</a>
        </li>
      </ul>
      
    </div>
  </nav>